{% extends "my_blog/base.html" %}

{% block title %}Home - My Blog{% endblock %}
{% block css_style %}
{% load static%}
<link rel="stylesheet" href="{% static  '/all_posts.css' %}">
{% endblock %}
{% block content %}
    <h2>All Posts</h2>
    <div class="posts">
        {% for post in posts %}
            <article>
                <h3><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h3>
                <p>{{ post.date|date:"F j, Y" }}</p>
                <p>{{ post.excerpt }}</p>
                <a class="read-more" href="{% url 'post_detail' slug=post.slug %}">Read more</a>
            </article>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
    </div>
{% endblock %}
