<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/index.css' %}">
    <link rel="icon" href="{% static 'my_blog/favicon.ico' %}" type="image/x-icon">
    {% block css_style %}
     <!-- Linking CSS -->
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'all_posts' %}">All Posts</a></li>
                <li><a href="{% url 'read-later' %}">Read Later Posts</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
