{% extends "my_blog/base.html" %}

{% block title %}{{ post.title }} - My Blog{% endblock %}
{% block css_style %}
{% load static%}
<link rel="stylesheet" href="{% static '/post_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="posts">
    <article>
        <h2>{{ post.title }}</h2>
        {% for tag in tags %}
        <div class="tags">
            {{ tag }}
        </div>
        {% endfor %}
        <p><strong>Published on:</strong> {{ post.date|date:"F j, Y" }}</p>
        <div class="post-image">
            <img src="{{ post.image.url }}">
        </div>
        <div class="post-content">
            {{ post.content|safe }}  <!-- Use |safe if your content includes HTML -->
        </div>
        <div class="author">
          <a href="mailto:{{ post.author.email }}"> {{ post.author }} </a>
        </div>
    </article>
</div>
    <nav>
        <a href="{% url 'home' %}">Back to Home</a>
    </nav>
{% endblock %}
