{% extends "my_blog/base.html" %}

{% block title %}{{ post.title }} - My Blog{% endblock %}
{% block css_style %}
{% load static%}
<link rel="stylesheet" href="{% static '/post_detail.css' %}">
{% endblock %}


{% block content %}

{% if comment_form.errors %}
    <div id="alert">
        <h2><strong>Oops! There was an error while saving the comment</strong></h2>
        <p>Please correct the errors in the comment form</p>
        <a href="#comment-form">Go to comment form</a>
    </div>
{% endif %}
    <div class="posts">
    <article>
        <h2>{{ post.title }}</h2>
        {% for tag in tags %}
        <div class="tags">
            {{ tag }}
        </div>
        {% endfor %}

        <form action="{% url 'read-later' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_slug" value="{{ post.slug }}">
        <div class="read-later">
            <button type="submit">
                {% if is_saved_for_later %}
                    Remove from Read Later
                {% else %}
                    Read Later
                {% endif %}
                
            </button>
        </div>
        </form>

        <p><strong>Published on:</strong> {{ post.date|date:"F j, Y" }}</p>
        <div class="post-image">
            <img src="{{ post.image.url }}">
        </div>
        <div class="post-content">
            {{ post.content|safe }}  <!-- Use |safe if your content includes HTML -->
        </div>
        <div class="author">
          <a href="mailto:{{ post.author.email }}"> {{ post.author }} </a>
        </div>

        <section id="comment-form">
            <h2>Your comment</h2>
        <form action="{% url 'post_detail' post.slug %}" method="post">
            {% csrf_token %}
            {% for form_field in comment_form %}
            <div class="form-group {% if form_field.errors %} invalid {% endif %}" >
                {{ form_field.label_tag }}
                {{ form_field }}
                {{ form_field.errors }}
            </div>    
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
        </section>

        <section id="comments">
            <h2>Comments</h2>
            <ul>
                {% if not comments%}
                <li>No comments yet, be the first to comment.</li>
                {% endif %}
                {% for comment in comments %}
                <li>
                    <h3><strong>{{ comment.user_name }}</strong> said on {{ comment.date|date:"F j, Y" }}: </h3>
                    <p>{{ comment.text }}</p>
                </li>
                {% endfor %}
            </ul>
        </section>
    </article>
</div>
    <nav>
        <a href="{% url 'home' %}">Back to Home</a>
    </nav>
{% endblock %}
